@import "theme";

.table-light {
    .state-cancel {
        background: $color-error;
    }
    
    .state-option {
        background: $color3;
    }
    
    .state-confirmed {
        background: $color-success;
    }

    .state-actif {
        background: $color-success;
        color: white;
    }

    .state-inactif {
        background: $color-error;
    }
}